/* Colors */
$email-inputs-border-color: #c3c2cf;
$email-inputs-invalid-border-color: #d92929;
$email-inputs-valid-background-color: rgba(102, 153, 255, 0.2);
$email-inputs-content-background-color: #fff;
$email-inputs-placeholder-color: #c3c2cf;
$email-inputs-text-color: #050038;

/* Sizes */
$email-inputs-border-width: 1px;
$email-inputs-block-height: 24px;

.EmailsInput {
    * {
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: $email-inputs-text-color;
    }

    /* Normalize*/
    button,
    input {
        line-height: 1.15;
        overflow: visible;
        text-transform: none;
    }

    button {
        -webkit-appearance: button;
        cursor: pointer;
    }

    button::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    button:-moz-focusring {
        outline: 1px dotted ButtonText;
    }
    /* Normalize END*/

    &__content {
        display: flex;
        flex-flow: wrap;
        align-content: flex-start;
        background-color: $email-inputs-content-background-color;
        border: $email-inputs-border-width solid $email-inputs-border-color;
        border-radius: 4px;
        height: 96px;
        padding: 4px 7px;
        overflow-y: auto;
    }

    &__email {
        display: flex;
        align-items: center;
        margin-right: 8px;
        margin-top: 4px;
        height: $email-inputs-block-height;

        &--valid {
            background-color: $email-inputs-valid-background-color;
            padding: 0 10px;
            border-radius: 12px;
        }

        &--invalid {
            border-bottom: $email-inputs-border-width dashed $email-inputs-invalid-border-color;
        }

        &__remove {
            font-size: 16px;
            background: transparent;
            border: none;
            margin-left: 8px;
            padding: 0px;
        }
    }

    &__input {
        margin-top: 4px;
        border: none;
        outline: none;
        height: $email-inputs-block-height;
        flex-grow: 1;
        width: 0;
        min-width: 120px;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $email-inputs-placeholder-color;
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $email-inputs-placeholder-color;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $email-inputs-placeholder-color;
        }
    }
}
